 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-lg-offset-3">
                  <p>Here you will find links and information supporting <a href="https://coderdojo.com/">CoderDojo</a> events organized by <a href="http://www.libertyglobal.com/">Liberty Global</a>.</p>
                </div>
            </div>
        </div>
    </section>
