.google-search,
.google-search *,
.google-search *:before,
.google-search *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#gsc-iw-id1{
    height: 26px;
}
